body {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkslateblue;
    margin: 0;
    padding: 0;
}
a {
    color: chartreuse;
}

a :hover {
    color: orchid;
}
a :visited {
    color: yellow
}

#banner {
    background-color: darkblue;
    text-align: center;
    border: 1px solid black;
}

#content {
    background-color: darkgreen;
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

#blogposts {
    margin: 10px;
    border: 1px solid black;
    background-color: darkviolet;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: darkred;
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}