body {
    background-color: violet;
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(crimson), to(violet));
    background-image: -webkit-linear-gradient(top, crimson, violet);
    background-image: -moz-linear-gradient(top, crimson, violet);
    background-image: -ms-linear-gradient(top, crimson, violet);
    background-image: -o-linear-gradient(top, crimson, violet);
    background-image: linear-gradient(top, crimson, violet);
    clear: both;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: grey;
}

a :hover {
    color: blue;
}
a :visited {
    color: purple;
}

#banner {
    background-color: purple;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
}

#content {
    background-color: crimson;
    width: 60%;
    margin: auto;
    border: 10px solid black;
    border-radius:10px; /* Outer Radius*/
    background:
     radial-gradient(farthest-side at bottom right,#0000 98%,red) top left,
     radial-gradient(farthest-side at top    right,#0000 98%,red) bottom left,
     radial-gradient(farthest-side at bottom left ,#0000 98%,red) top right,
     radial-gradient(farthest-side at top    left ,#0000 98%,red) bottom right,
     blue;
    background-size:50px 50px; /* inner Radius*/
    background-repeat:no-repeat;
    background-origin:padding-box;
}

#blogposts {
    margin: 10px;
    border: 1px solid black;
    background-color: crimson;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: crimson;
    text-align: center;
}

.post .left {
    block-size: auto;
    margin-right: 10px;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images {
    width: auto;
    height: 125px;
}
.post #textLeft {
    float: left;
}